.gridscan {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
  pointer-events: none;
}

.gridscan canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
}
